/* ================================
   FONT
================================ */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');


/* ================================
   BASIC
================================ */

* {
    box-sizing: border-box;
}

body {
    margin: 40;
    min-height: 100vh;

    font-family: "Kanit", sans-serif;
    font-size: 16px;

    background: #FFF3E8;
    color: #3D2A20;
}


/* ================================
   MAIN CONTAINER
================================ */

.container {
    width: calc(100% - 80px);
    max-width: 800px;

    margin: 40px auto;
    padding: 40px;

    background: #FFE2CC;
    border-radius: 30px;
}


/* ================================
   TITLE
================================ */

h1 {
    margin: 0 0 40px 0;

    font-family: "Kanit", sans-serif;
    font-size: 52px;
    font-weight: 600;

    text-align: center;
    color: #000000;
}


/* ================================
   FORM
================================ */

.form-group {
    width: 100%;

    /* ระยะจากช่องกรอกด้านล่าง
       ไปยังข้อความของช่องถัดไป */
    margin-bottom: 24px;
}

label {
    display: block;
    width: 100%;

    /* ระยะจากข้อความ
       ลงมาถึงช่องกรอก */
    margin: 0 0 24px 0;

    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;

    width: 100%;
    height: 70px;

    padding: 14px 18px;

    font-family: "Kanit", sans-serif;
    font-size: 16px;

    background: #FFFFFF;
    color: #3D2A20;

    border: 1px solid #F2A365;
    border-radius: 18px;

    outline: none;
}

/* ================================
   CALCULATE BUTTON
================================ */

button {
    display: block;

    width: 100%;
    height: 70px;

    margin-top: 20px;
    padding: 14px 20px;

    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 500;

    background: #E8751A;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;
}


button:hover {
    background: #D95F02;
}


/* ================================
   RESULT
================================ */

#result {
    display: none;

    width: 100%;

    margin-top: 20px;
    padding: 20px;

    font-family: "Kanit", sans-serif;
    font-size: 16px;

    text-align: center;

    background: #FFF8F2;
    border-radius: 20px;
}


#result.show {
    display: block;
}


#result strong {
    font-size: 20px;
    font-weight: 600;

    color: #D95F02;
}


/* ================================
   MOBILE
================================ */

@media (max-width: 600px) {

    .container {
        width: calc(100% - 30px);

        margin: 20px auto;
        padding: 25px 20px;

        border-radius: 25px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    input {
        height: 65px;
    }

    button {
        height: 65px;
    }
}
