/* ================================
   FORM
================================ */

/* แต่ละชุดของ Label + Input มีระยะห่างเท่ากัน */
.form-group {
    width: 100%;
    margin-bottom: 24px;
}

/* ชื่อหัวข้อของช่องกรอก */
label {
    display: block;
    width: 100%;

    margin: 0 0 10px 0;

    font-size: 16px;
    font-weight: 500;
}

/* ช่องกรอก */
input {
    display: block;

    width: 100%;
    height: 70px;

    padding: 14px 18px;

    font-family: "Kanit", sans-serif;
    font-size: 16px;

    background: #FFFFFF;
    color: #3D2A20;

    border: 1px solid #F2A365;
    border-radius: 18px;

    outline: none;
}

/* ปุ่มคำนวณ */
button {
    display: block;

    width: 100%;
    height: 70px;

    margin-top: 0;
    padding: 14px 20px;

    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 500;

    background: #E8751A;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;
}
